extends layout.jade

block content
  h1 Documentation
  p A tiny API for human readable informantion about web sites.

  h2 Usage
  p The general syntax is <code>/version/module/domain</code>. The current version is <code>v1</code>. To get information about google.in, try <code>/v1/domain/google.in</code>

  h2 Modules
  p There is only one module, <code>domain</code>, that will give you the best available whois information, or advice on how to find it.

  h2 Response
  pre.
    {
      error: CODE
      $MODULE: {}
    }
  p Example for <code>/v1/domain/google.in</code>:
  pre.
    {
      "error": 0,
      "domain": {
        "data": {
          "person": ["Christina Chiou"],
          "organization": ["Google Inc."],
          "dateRegistered": ["14-Feb-2005 20"],
          "contact":["+1.6502530000", "dns-admin@google.com"]
        },
      "raw_data": *SNIP*,
      "message": "The IP address of the server is 216.58.210.100. You might want to do another whois lookup on that, to see who owns the server (often a web hotel).",
      "ip": "216.58.210.100"}
    }

  h3 Error codes
  ul
    li <code>0</code>: No error
    li <code>1</code>: No such domain found
    li <code>2</code>: No useful whois data found

  h2 Known limitations
  ul
    li No punycode
